@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Raleway", "Pacifico", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: olive solid 4px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: gold solid 4px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: tomato solid 4px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section__title, .hero__title, .about-us__title, .services__title, .gallery__title, .blog__title {
  font-size: 90px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .section__title, .hero__title, .about-us__title, .services__title, .gallery__title, .blog__title {
    font-size: 50px;
    display: inline-block;
  }
}

.button, .hero__button, .gallery__button, .submit__button, .blog__botton {
  display: block;
  width: 200px;
  height: 55px;
}

header {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .header__menu {
    display: flex;
    justify-content: space-evenly;
  }
}

.header__element {
  display: inline-block;
  width: auto;
  margin-right: 30px;
}

.header__element:last-child {
  margin-right: 0px;
}

.header__element a {
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .header__element a {
    font-size: 14px;
  }
}

.logo {
  display: inline-block;
  width: 127px;
  height: 52px;
  color: #262626;
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .logo {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.hero__title {
  color: #262626;
}

.hero__text {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .hero__text {
    margin-top: 15px;
    display: block;
  }
}

.hero__button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
}

@media screen and (max-width: 767px) {
  .hero__button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.about-us--bgc {
  background-color: #00c4c4;
  background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
}

.about-us__title {
  color: #ffffff;
}

.about-us__text {
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about-us__text {
    margin-top: 15px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.services--bgc {
  background-color: #70bfff;
}

.services__title {
  color: #ffffff;
}

.services__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .services__element {
    width: 350px;
    height: 70px;
    margin-top: 15px;
  }
}

.services__element__text {
  margin-left: 71px;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .services__element__text {
    margin-left: 25px;
  }
}

.services__icon {
  margin-right: 22px;
  width: 47px;
  height: 44px;
  fill: #262626;
}

@media screen and (max-width: 767px) {
  .services__icon {
    margin-right: 10px;
  }
}

.gallery--bgc {
  background-color: #ffe92f;
}

@media screen and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.gallery__title {
  color: #262626;
}

.gallery__text {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
}

.gallery__button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
}

@media screen and (max-width: 767px) {
  .gallery__button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__list {
    display: flex;
    flex-direction: column;
  }
  .gallery__list li {
    margin-bottom: 15px;
  }
  .gallery__list li:last-child {
    margin-bottom: 0px;
  }
  .gallery__list li:first-child {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.subscribe__title {
  color: #262626;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .subscribe__title {
    display: inline-block;
  }
}

.subscribe__text {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .subscribe__text {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 350px;
    height: 40px;
    margin-top: 15px;
  }
}

.submit__button {
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}

.blog--bgc {
  background-color: #b07cf7;
}

@media screen and (max-width: 767px) {
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

.blog__title {
  color: #ffffff;
}

.blog__text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .blog__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .blog__element {
    position: relative;
    margin-bottom: 10px;
  }
  .blog__element:last-child {
    margin-bottom: 0px;
  }
}

.blog__element__text--one {
  position: absolute;
  content: "";
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  border-radius: 5px;
  background-color: #262626;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.blog__element__text--two {
  position: absolute;
  content: "";
  top: 210px;
  left: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  font-weight: 700;
}

.blog__element__text--three {
  font-size: 13px;
  font-weight: 300;
}

.blog__botton {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #b92c3f;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */