@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Pacifico", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: olive solid 4px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: gold solid 4px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1500px;
    outline: tomato solid 4px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section__title, .about-us__title, .services__title, .gallery__title, .blog__title, .footer__title {
  font-size: 90px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .section__title, .about-us__title, .services__title, .gallery__title, .blog__title, .footer__title {
    font-size: 50px;
    display: inline-block;
  }
}

.button, .gallery__button, .submit__button, .blog__botton {
  display: block;
  width: 200px;
  height: 55px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .header__menu {
    display: flex;
    justify-content: space-evenly;
  }
}

.header__element {
  display: inline-block;
  width: auto;
  margin-right: 30px;
}

.header__element:last-child {
  margin-right: 0px;
}

.header__element a {
  position: relative;
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .header__element a {
    font-size: 14px;
  }
}

.header__element a::after {
  position: absolute;
  content: "";
  left: 0%;
  top: -10px;
  min-width: 100%;
  height: 3px;
  background-color: #ff6033;
}

.logo {
  display: inline-block;
  width: 127px;
  height: 52px;
  color: #262626;
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .logo {
    align-self: center;
  }
}

.about-us {
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-us--bgc {
  background-color: #00c4c4;
  background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
}

@media screen and (max-width: 767px) {
  .about-us__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us__text-container {
    margin-left: 94px;
    margin-top: 160px;
  }
}

.about-us__title {
  margin-bottom: 34px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about-us__title {
    margin-top: 30px;
  }
}

.about-us__text {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about-us__text {
    margin-top: 15px;
    display: block;
    margin-bottom: 20px;
  }
}

.services {
  position: relative;
}

@media screen and (max-width: 767px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.services--bgc {
  background-color: #70bfff;
}

@media screen and (max-width: 767px) {
  .services__title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .services__title {
    position: absolute;
    content: "";
    z-index: 99;
    top: 331px;
    left: 797px;
    color: #ffffff;
  }
}

.services__list {
  margin-left: 265px;
  padding-top: 179px;
  padding-bottom: 150px;
}

@media screen and (max-width: 767px) {
  .services__list {
    padding-bottom: 20px;
    margin: auto;
    padding-top: 10px;
  }
}

.services__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .services__element {
    width: 350px;
    height: 70px;
    margin-top: 15px;
  }
}

.services__element:last-child {
  margin-bottom: 0px;
}

.services__element__text {
  margin-left: 71px;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .services__element__text {
    margin-left: 25px;
  }
}

.services__icon {
  margin-right: 22px;
  width: 47px;
  height: 44px;
  fill: #262626;
}

@media screen and (max-width: 767px) {
  .services__icon {
    margin-right: 10px;
  }
}

.services__img--tomato {
  position: absolute;
  content: "";
  width: 462px;
  height: 527px;
  top: 100px;
  left: 873px;
  background-image: url(../../img/img_copy35.png);
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .services__img--tomato {
    display: none;
  }
}

.gallery--bgc {
  background-color: #ffe92f;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.gallery__title {
  padding-top: 100px;
  color: #262626;
}

@media screen and (max-width: 767px) {
  .gallery__title {
    margin-top: 30px;
  }
}

.gallery__text {
  display: inline-block;
  width: 577px;
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .gallery__text {
    width: 400px;
  }
}

.gallery__button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
}

@media screen and (max-width: 767px) {
  .gallery__button {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__list {
    display: flex;
    flex-direction: column;
  }
  .gallery__list li {
    margin-bottom: 15px;
  }
  .gallery__list li:last-child {
    margin-bottom: 0px;
  }
  .gallery__list li:first-child {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-right: 165px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item--container {
    display: flex;
    flex-direction: column;
  }
  .gallery__item--container img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    background-image: url(../../img/bg36.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
}

.subscribe__title {
  color: #262626;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .subscribe__title {
    margin-top: 30px;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__title {
    display: inline-block;
    margin-top: 145px;
    margin-left: 165px;
  }
}

.subscribe__text {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

@media screen and (max-width: 767px) {
  .subscribe__text {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__text {
    display: block;
    width: 565px;
    margin-top: 35px;
    margin-left: 165px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    margin-top: 30px;
    margin-left: 164px;
    display: flex;
    align-items: baseline;
  }
}

.subscribe__input {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 350px;
    height: 40px;
    margin-top: 15px;
  }
}

.submit__button {
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .submit__button {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .submit__button {
    margin-left: 30px;
  }
}

.blog--bgc {
  background-color: #b07cf7;
}

@media screen and (max-width: 767px) {
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blog__title {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .blog__title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .blog__title {
    display: inline-block;
    margin-top: 100px;
  }
}

.blog__text {
  margin-top: 30px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .blog__text {
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .blog__text {
    display: inline-block;
    width: 590px;
  }
}

@media screen and (max-width: 767px) {
  .blog__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 47px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .blog__element {
    position: relative;
    margin-bottom: 10px;
  }
  .blog__element:last-child {
    margin-bottom: 0px;
  }
}

.blog__container, .blog__container--one, .blog__container--two, .blog__container--three {
  position: relative;
  width: 370px;
  height: 310px;
}

.blog__container--one {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/img11.png);
}

.blog__container--two {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/img12.png);
}

.blog__container--three {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/img13.png);
}

.blog__element__text--one {
  position: absolute;
  content: "";
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  border-radius: 5px;
  background-color: #262626;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.blog__element__text--two {
  position: absolute;
  content: "";
  top: 210px;
  left: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  font-weight: 700;
}

.blog__element__text--three {
  font-size: 13px;
  font-weight: 300;
}

.blog__botton {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #b92c3f;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .blog__botton {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .blog__botton {
    margin-bottom: 50px;
  }
}

.footer--bgc {
  background-image: url(../../img/img14.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__form__container {
    display: flex;
  }
}

.footer__title {
  color: #262626;
}

@media screen and (max-width: 767px) {
  .footer__title {
    margin-top: 30px;
  }
}

.footer__text {
  margin-top: 48px;
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer__text {
    margin-top: 10px;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__label {
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .footer__label {
    margin-bottom: 15px;
  }
  .footer__label:first-child {
    margin-top: 15px;
  }
}

.footer__label:first-child {
  margin-top: 46px;
}

.footer__input {
  width: 480px;
  height: 50px;
  padding-left: 20px;
  opacity: 0.5;
  background-color: #00c4c4;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .footer__input {
    width: 350px;
    height: 35px;
  }
}

.footer__input:focus {
  outline: white 3px solid;
}

.footer__text-area {
  width: 480px;
  height: 250px;
  padding-left: 20px;
  background-color: #00c4c4;
  opacity: 0.5;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .footer__text-area {
    width: 350px;
    height: 175px;
  }
}

.footer__adress {
  color: #262626;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer__adress p {
  font-weight: 300;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .footer__adress p {
    margin-bottom: 20px;
  }
}

.copyright--bgc {
  background-color: #262626;
}

@media screen and (max-width: 767px) {
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright__text {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .copyright__text {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.copyright__logo {
  color: #b9b9b9;
  font-family: Pacifico;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .copyright__logo {
    margin-bottom: 5px;
  }
}

.copyright__sign {
  color: #b9b9b9;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .copyright__sign {
    margin-bottom: 5px;
  }
}

.copyright__sign--love {
  color: #ff2b58;
}
/*# sourceMappingURL=main.css.map */