.blog--bgc {
  background-color: #b07cf7;
}

.blog {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blog__title {
  @extend .section__title;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 100px;
  }
  color: $-secondary-text-color;
}
.blog__text {
  @media screen and (max-width: 767px) {
    padding-top: 10px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 590px;
  }
  margin-top: 30px;
  color: $-secondary-text-color;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}
.blog__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 47px;
    margin-bottom: 50px;
  }
}
.blog__element {
  @media screen and (max-width: 767px) {
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.blog__container {
  position: relative;
  width: 370px;
  height: 310px;
}
.blog__container--one {
  @extend .blog__container;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/img11.png);
}
.blog__container--two {
  @extend .blog__container;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/img12.png);
}
.blog__container--three {
  @extend .blog__container;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/img13.png);
}
.blog__element__text--one {
  position: absolute;
  content: "";
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  border-radius: 5px;
  background-color: #262626;
  //   opacity: 0.5;

  color: $-secondary-text-color;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.blog__element__text--two {
  position: absolute;
  content: "";
  top: 210px;
  left: 30px;

  color: $-secondary-text-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  font-weight: 700;
}
.blog__element__text--three {
  font-size: 13px;
  font-weight: 300;
}
.blog__botton {
  @extend .button;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #b92c3f;

  color: $-secondary-text-color;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}
