.gallery--bgc {
  background-color: #ffe92f;
}
.gallery {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__title {
  @extend .section__title;
  //   position: absolute;
  //   content: "";
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  padding-top: 100px;
  color: $-primary-text-color;
}
.gallery__text {
  @media screen and (max-width: 767px) {
    width: 400px;
  }
  display: inline-block;
  width: 577px;
  color: $-primary-text-color;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
}
.gallery__button {
  @extend .button;
  @media screen and (max-width: 767px) {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  color: $-secondary-text-color;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
}
.gallery__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    & li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0px;
      }
      &:first-child {
        margin-top: 15px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-right: 165px;

    // display: grid;
    // grid-template-columns: repeat(auto-fit, 770px 370px);
    // grid-template-rows: 550px 400px;
    // grid-gap: 30px;
    // margin-left: 165px;
    // margin-right: 165px;
  }
}
.gallery__item {
  @media screen and (max-width: 767px) {
    width: 300px;
  }
  @media screen and (min-width: 768px) {
  }
}
.gallery__item--container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    & img {
      margin-bottom: 30px;
    }
  }
}
