.services {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  position: relative;
}
.services--bgc {
  background-color: #70bfff;
}
.services__title {
  @extend .section__title;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  position: absolute;
  content: "";
  top: 331px;
  left: 600px;
  color: $-secondary-text-color;
}
.services__img {
  @media screen and (max-width: 768px) {
    display: none;
  }
  position: absolute;
  content: "";
}
.services__list {
  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
  padding-top: 179px;
  padding-bottom: 150px;
}
.services__element {
  @media screen and (max-width: 767px) {
    width: 350px;
    height: 70px;
    margin-top: 15px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.services__element__text {
  @media screen and (max-width: 767px) {
    margin-left: 25px;
  }
  margin-left: 71px;
  color: $-primary-text-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.services__icon {
  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
  margin-right: 22px;
  width: 47px;
  height: 44px;
  fill: $-primary-text-color;
}
